.formSection {
  padding: 5em;
}

.formSection .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button, input {
  height: 2em;
  border-radius: 10px;
  font-size: 2rem;
}

.form button {
  width: 10em;
  margin: 0.5em;
}

.form input {
  width: 15em;
  padding-left: 1em;
  margin: 1em;
}