.showTrack {
  height: 100%;
  overflow: auto;
  background-color: var(--dark-violet-opacity);
}

.showTrack ul li {
  list-style-type: none;
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 90% auto;
  height: 50px;
  margin: 0.5em;
}

.showTrack div {
  height: 100%;
}

.showTrack div p, h3 {
  padding-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button button {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
}
