.showTrack {
  height: 100%;
  overflow: auto;
  background-color: var(--dark-violet-opacity);
}

.showTrack ul li {
  list-style-type: none;
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 90% auto;
  margin: 0.5em;
}

.button button {
  width: 2em;
  height: 2em;
  font-size: 2rem;
  font-weight: 700;
}