.list {
  display: flex;
  flex-direction: column;
}

.list > input,
.list > button {
  width: 90%;
  margin: 1em 0;
  align-self: center;
}

.list > input {
  background-color: transparent;
  color: var(--white);
  padding-left: 1em;
  border-bottom: 1px solid var(--white);
}

.list > button {
  height: 3em;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
}
.list > button:hover {
  background-color: var(--dark-violet);
  color: var(--white);
  border: 1px solid var(--white);
}