.list {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.list > input,
.list > button {
  width: 90%;
  margin: 0.5em 0;
  align-self: center;
}

.list > input {
  background-color: transparent;
  color: var(--white);
  padding-left: 1em;
  border-bottom: 1px solid var(--white);
  justify-self: center;
}

.list > div {
  overflow-y: scroll;
}

.list > div::-webkit-scrollbar {
  background-color: transparent;
}

.list > div::-webkit-scrollbar-thumb {
  background-color: white;
}

.list > button {
  height: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  justify-self: center;
}
.list > button:hover {
  background-color: var(--dark-violet);
  color: var(--white);
  border: 1px solid var(--white);
}